/* Add CSS Styling */

.odd    {
    background-color: rgb(241, 144, 144);
      font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size {
    font-size: 24px;
}

#second {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: hsl(120, 100%, 75%);
    font-weight: bold;
}

