body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 16px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 16px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  display: block;
  margin: auto;
  border: 1px solid #eee;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;;
}